.logo_s{background:url(images/25-17.png) no-repeat;width:25px;height:17px}
.logo_m{background:url(images/team_logo_92x58.jpg) no-repeat;width:92px;height:58px}
.logo_b{background:url(images/110-70.png) no-repeat;width:110px;height:70px}
.logo_s_4834{background-position:0 0}
.logo_m_4834{background-position:0 0}
.logo_b_4834{background-position:0 0}
.logo_s_4739{background-position:0 -17px}
.logo_m_4739{background-position:0 -58px}
.logo_b_4739{background-position:0 -70px}
.logo_s_6355{background-position:0 -34px}
.logo_m_6355{background-position:0 -116px}
.logo_b_6355{background-position:0 -140px}
.logo_s_4699{background-position:0 -51px}
.logo_b_4699{background-position:0 -210px}
.logo_m_4699{background-position:0 -174px}
.logo_s_4688{background-position:0 -68px}
.logo_m_4688{background-position:0 -232px}
.logo_b_4688{background-position:0 -280px}
.logo_s_4770{background-position:0 -85px}
.logo_m_4770{background-position:0 -290px}
.logo_b_4770{background-position:0 -350px}
.logo_s_4704{background-position:0 -102px}
.logo_m_4704{background-position:0 -348px}
.logo_b_4704{background-position:0 -420px}
.logo_s_4785{background-position:0 -119px}
.logo_m_4785{background-position:0 -406px}
.logo_b_4785{background-position:0 -490px}
.logo_s_4781{background-position:0 -136px}
.logo_m_4781{background-position:0 -464px}
.logo_b_4781{background-position:0 -560px}
.logo_s_4778{background-position:0 -153px}
.logo_m_4778{background-position:0 -522px}
.logo_b_4778{background-position:0 -630px}
.logo_s_4790{background-position:0 -170px}
.logo_m_4790{background-position:0 -580px}
.logo_b_4790{background-position:0 -700px}
.logo_s_4715{background-position:0 -187px}
.logo_m_4715{background-position:0 -638px}
.logo_b_4715{background-position:0 -770px}
.logo_s_4820{background-position:0 -204px}
.logo_m_4820{background-position:0 -696px}
.logo_b_4820{background-position:0 -840px}
.logo_s_4694{background-position:0 -221px}
.logo_m_4694{background-position:0 -754px}
.logo_b_4694{background-position:0 -910px}
.logo_s_4711{background-position:0 -238px}
.logo_m_4711{background-position:0 -812px}
.logo_b_4711{background-position:0 -980px}
.logo_s_4476{background-position:0 -255px}
.logo_m_4476{background-position:0 -870px}
.logo_b_4476{background-position:0 -1050px}
.logo_s_4703{background-position:0 -272px}
.logo_m_4703{background-position:0 -928px}
.logo_b_4703{background-position:0 -1120px}
.logo_s_4708{background-position:0 -289px}
.logo_m_4708{background-position:0 -986px}
.logo_b_4708{background-position:0 -1190px}
.logo_s_4717{background-position:0 -306px}
.logo_m_4717{background-position:0 -1044px}
.logo_b_4717{background-position:0 -1260px}
.logo_s_4748{background-position:0 -323px}
.logo_m_4748{background-position:0 -1102px}
.logo_b_4748{background-position:0 -1330px}
.logo_s_5164{background-position:0 -340px}
.logo_m_5164{background-position:0 -1160px}
.logo_b_5164{background-position:0 -1400px}
.logo_s_4741{background-position:0 -357px}
.logo_m_4741{background-position:0 -1218px}
.logo_b_4741{background-position:0 -1470px}
.logo_s_4758{background-position:0 -374px}
.logo_m_4758{background-position:0 -1276px}
.logo_b_4758{background-position:0 -1540px}
.logo_s_4819{background-position:0 -391px}
.logo_m_4819{background-position:0 -1334px}
.logo_b_4819{background-position:0 -1610px}
.logo_s_4735{background-position:0 -408px}
.logo_m_4735{background-position:0 -1392px}
.logo_b_4735{background-position:0 -1680px}
.logo_s_4756{background-position:0 -425px}
.logo_m_4756{background-position:0 -1450px}
.logo_b_4756{background-position:0 -1750px}
.logo_s_4481{background-position:0 -442px}
.logo_m_4481{background-position:0 -1508px}
.logo_b_4481{background-position:0 -1820px}
.logo_s_4713{background-position:0 -459px}
.logo_m_4713{background-position:0 -1566px}
.logo_b_4713{background-position:0 -1890px}
.logo_s_4766{background-position:0 -476px}
.logo_m_4766{background-position:0 -1624px}
.logo_b_4766{background-position:0 -1960px}
.logo_s_4698{background-position:0 -493px}
.logo_m_4698{background-position:0 -1682px}
.logo_b_4698{background-position:0 -2030px}
.logo_s_4725{background-position:0 -510px}
.logo_m_4725{background-position:0 -1740px}
.logo_b_4725{background-position:0 -2100px}
.logo_s_4729{background-position:0 -527px}
.logo_m_4729{background-position:0 -1798px}
.logo_b_4729{background-position:0 -2170px}

